@import "fonts";

body {
  font-family: Rurintaniac Roboto;
  font-size: 50px;
  background-color: rgb(193, 193, 170);
  span {
    color: red;
  }
  // background: url("@img/notebook.jpg") 0 0 no-repeat;
}
